


html {
  font-size: 1rem;
  font-family: 'Monoton', cursive;
  background-color: #89cff0;
}

body {
  padding:5rem 0;
  color:#000;
}

a {
 font-family: 'Monoton', cursive;
  color: #ae7f3d;
}

a:hover {
  text-decoration: none;
  color: #ae7f3d;
}

main {
  display: grid;
    grid-gap: 10px;
    grid-template-columns: 25% 50% 25% ;

  grid-gap: 15px;
  max-width: 30vw;
  margin: 15px;
}



.intro-block {
  grid-column: 1 / 5;
   font-family: 'Monoton', cursive;
    
}

.article {
  grid-column: 1 / 4 ;
   font-family: 'Monoton', cursive;
    
}

.projects {
    grid-column: 2 / 5;
     font-family: 'Monoton', cursive;
    
}

.item {
  grid-column:3;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
  font-family: 'Monoton', cursive;
}

.definition {
  grid-column:4;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
 font-family: 'Monoton', cursive;
}



h1, h2, h3, h4, h5 {
  font-family: 'Monoton', cursive;
  margin-bottom:1rem;
}

h1 {
  font-size:7rem;
  font-weight:700;
  font-style: italic;
}
h2 {
  font-size:2.25rem;
}
h3 {
  font-size:2rem;
  font-weight:400;

}
h4 {
  font-size:1rem;
}


li {
  font-size: 1.25rem;
 font-family: 'Monoton', cursive;
  line-height: 1.5;
  padding: .5rem 0;
}

p {
font-family: 'Monoton', cursive;
  font-size: 1rem;
  line-height: 1;
  margin-bottom:1rem;
}

.location {
  font-size: 0.9rem;
 font-family: 'Monoton', cursive;
  text-transform: uppercase;
  line-height: 3;
}

.pull-quote {
  font-size: 0.9rem;
 font-family: 'Monoton', cursive;
  line-height: 2;
  font-weight:400;
     grid-column: 1 ;
    grid-row: 2 ;
}

img {
  display: block;
  margin: 0 auto;
}

figcaption {
  font-size: .875rem;
  font-family: 'Monoton', cursive;
  padding-top: 1rem;
}