


html {
  font-size: 1rem;
  font-family: 'Lora', serif;
  background-color: #fff;
}

body {
  padding:5rem 0;
  color:#000;
}

a {
  text-decoration: underline;
  color: #ae7f3d;
}

a:hover {
  text-decoration: none;
  color: #ae7f3d;
}

main {
  display:grid;
grid-template-columns: repeat(11, 1fr);  
grid-template-rows: repeat(11, min-content);  
grid-gap:2rem;
  max-width: 70vw;
  margin: 0 auto;
}



.intro-block {
  grid-column:1 / 5;
  grid-row:4 / 8;
}

.article {
  grid-column:3 / 8;
  grid-row:3 / 7;
}

.article-2 {
  grid-column:3 / 9;
  grid-row:4 / 7;
}
.article-3 {
  grid-column:3 / 10;
  grid-row:5 / 7;
}
.article-4 {
  grid-column:3 / 11;
  grid-row:6 / 7;
}
.article-5 {
  grid-column:3 / 11;
  grid-row:8 / 7;
}

.projects {
  grid-column:2 / 3;
}

.item {
  grid-column:1;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}

.definition {
  grid-column:2;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}



h1, h2, h3, h4, h5 {
  font-family: 'Lora', serif;
  margin-bottom:1rem;
}

h1 {
  font-size:10rem;
  font-weight:700;
  font-style: italic;
}
h2 {
  font-size:4rem;
}
h3 {
  font-size:2rem;
  font-weight:400;

}
h4 {
  font-size:1rem;
}


li {
  font-size: 1.25rem;
  font-family: 'Lora', serif;
  line-height: 1.5;
  padding: .5rem 0;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5rem;
  line-height: .5;
  margin-bottom:1rem;
}

.location {
  font-size: 1rem;
  font-family: 'Lora', serif;
  text-transform: uppercase;
  line-height: 1.5;
}

.pull-quote {
  grid-column:3 / 9;
  grid-row:1 / 11;
  font-size: 6rem;
  font-family: 'Lora', serif;
  line-height: 1.5;
  font-weight:400;
  padding:2rem;

}

.vert-quote {
  grid-column:6 / 9;
  grid-row:1 / 11;
  font-size: 3rem;
  font-family: 'Lora', serif;
  line-height: 1.5;
  font-weight:400;
  writing-mode: vertical-rl;
  padding:2rem;

}

img {
  display: block;
  margin: 0 auto;
}

figcaption {
  font-size: .875rem;
  font-family: 'Lora', serif;
  padding-top: 1rem;
}
